@import "tailwindcss";

@theme {
  --color-primary: var(--color-emerald-600);
  --color-primary-dark: var(--color-emerald-700);
  --color-primary-light: var(--color-emerald-500);
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  input {
    @apply px-2 py-1 border-1 rounded-md border-gray-400;
  }
  button {
    @apply py-2 px-4 bg-primary rounded-md text-white w-fit hover:bg-primary-dark;
  }
}
